{% extends 'inner-page.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
	<section class="sign-in">
		<div class="container">
			<div class="row mx-auto">
				<form method="post">
					
					<div class="col-lg-6 sign-in-form mx-auto mtp-5 mbp-15">
						{% for message in app.flashes('success') %}
							<div class="alert alert-success" role="alert">{{ message }}</div>
						{% endfor %}

						<div class="form mx-auto my-5 px-5">
							<div class="form mx-auto">
								{{ form_start(registrationForm) }}
								{{ form_row(registrationForm.email) }}
								{{ form_row(registrationForm.plainPassword, {
                    				label: 'Password'
                    			}) }}
								{{ form_row(registrationForm.RGPDConsent) }}

								<button type="submit" class="btn btn-primary my-3">S'inscrire</button>
								{{ form_end(registrationForm) }}
							</div>
						</div>
						<hr>
						<div class="col-lg-12 my-5 px-5">
							
						</div>
					</div>
				</form>
			</div>

		</div>

	</section>

	

{% endblock %}
